   <div class="page">
    
      <!-- Main Navbar-->
      <MainNavbar #mainNavbar></MainNavbar>


    <div class="page-content d-flex align-items-stretch">
       <!-- Side Navbar -->       
       <SideNavbar #sideNavbar></SideNavbar>       

       <div class="content-inner">
          <!-- Page Header-->
          <header class="page-header">
             <div class="container-fluid">
                <h2 class="no-margin-bottom">Forms</h2>
             </div>
          </header>
          <!-- Breadcrumb-->
          <div class="breadcrumb-holder container-fluid">
             <ul class="breadcrumb">
                <li class="breadcrumb-item">Home </li>
                <li class="breadcrumb-item active">Forms            </li>
             </ul>
          </div>
          <!-- Forms Section-->
          <section class="forms">
             <div class="container-fluid">
                <div class="row">
                   <!-- Basic Form-->
                   <div class="col-lg-6">
                        <BasicForm #basicForm></BasicForm>
                   </div>
                   
                   <!-- Horizontal Form-->
                   <div class="col-lg-6">
                        <HorizontalForm #horizontalForm></HorizontalForm>
                   </div>
                   <!-- Inline Form-->
                   <div class="col-lg-8">
                     <InLineForm #inLineForm></InLineForm>
                   </div>
                   <!-- Modal Form-->
                   <div class="col-lg-4">
                     <ModalForm #modalForm></ModalForm>
                   </div>
                   <!-- Form Elements -->
                   <div class="col-lg-12">
                     <ElementsForm #elementsForm></ElementsForm>
                   </div>
                </div>
             </div>
          </section>
          <!-- Page Footer-->
          <FooterBar #footerBar></FooterBar>
       </div>
    </div>
 </div>
 
 